<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Publish</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMessageServlet</servlet-name>
    <servlet-class>servlet.AddMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMessageServlet</servlet-name>
    <url-pattern>/AddMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeInfoServlet</servlet-name>
    <servlet-class>servlet.ChangeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInfoServlet</servlet-name>
    <url-pattern>/ChangeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelAllServlet</servlet-name>
    <servlet-class>servlet.DelAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAllServlet</servlet-name>
    <url-pattern>/DelAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
    </description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/ErrorServlet</location>
  </error-page>
</web-app>